:root {
  --ex-primary: #00003a!important;
  --ex-secondary: #f0f0f0!important;
  --ex-dark: #0f0f0f!important;
  --ex-danger: #ff0009!important;
}
ul {list-style: none; padding: 0!important; margin: 0!important;}

.bg-primary {background-color: var(--ex-primary)!important;}
.bg-secondary {background-color: var(--ex-secondary)!important;}
.bg-dark {background-color: var(--ex-dark)!important;}
/* .bg-success {background-color: var(--ex-success)!important;}
.bg-warning {background-color: var(--ex-warning)!important;} */
.bg-danger {background-color: var(--ex-danger)!important;}

.border-10 {--bs-border-width: 10px;}

.border-primary {border-color: var(--ex-primary)!important;}
.border-secondary {border-color: var(--ex-secondary)!important;}
.border-dark {border-color: var(--ex-dark)!important;}
/* .border-success {border-color: var(--ex-success)!important;}
.border-warning {border-color: var(--ex-warning)!important;} */
.border-danger {border-color: var(--ex-danger)!important;}

header {padding: 10rem 3rem;}
.about div, .project, .skills-and-tools, .experience {padding: 5rem 3rem;}
.frame {width: 80%; aspect-ratio: 1/1; transform: rotate(45deg);}
.divider-header-to-about {background: linear-gradient(#00003a, #0f0f0f);}
.divider-about-to-project {background: linear-gradient(#0f0f0f, #00003a);}
/* .divider-project-to-skills-and-tools {background: linear-gradient(#00003a, #f0f0f0);} */
/* .divider-skills-and-tools-to-experience {background: linear-gradient(#00003a, #f0f0f0);} */
.project-card .card-header img {width: 1.25rem; height: 1.25rem;}
.project-card .card-body {width: 100%; aspect-ratio: 16/9;}
.skills-and-tools-card {border: 3px solid var(--ex-primary);}
.skills-and-tools-card .card-body {display: flex; flex-direction: column; justify-content: space-between; align-items: center; gap: 1rem; background-color: var(--ex-secondary);}
.skills-and-tools-card img {width: 5rem; height: fit-content;}
.experience .exp-item {width: calc((100% / 12) * 5); aspect-ratio: 297/210; border: 1rem solid var(--ex-secondary); background-color: var(--ex-secondary); position: relative; overflow: hidden;}
.exp-item img {width: 100%; height: 100%;}
.exp-item .exp-info {width: 100%; height: 100%; position: absolute; right: -100%; color: var(--ex-secondary); padding: 1rem; transition: 1s ease-in-out;}
.exp-item .exp-info.active {right: 0;}
.exp-item .exp-info .bg {background-color: var(--ex-dark); opacity: 0.8; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
.exp-item .exp-info .content {width: calc(100% - 2rem); height: calc(100% - 2rem); position: absolute; text-align: justify;}
.exp-item .exp-info .content p {text-indent: 50px;}
.footer-about, .footer-links, .footer-contact {padding: 1rem; display: flex; flex-direction: column;}
.footer-about {width: calc((100% / 12) * 5.5 - (2rem / 3));}
.footer-links {width: calc((100% / 12) * 3 - (2rem / 3));}
.footer-contact {width: calc((100% / 12) * 3.5 - (2rem / 3));}
.footer-contact li {padding-bottom: 0.4rem;}
.footer-contact li img {width: calc(1rem * 1.3); height: fit-content;}